.reservation-times {
  padding: 70px 0;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    &__item {
      font-size: 25px;
      padding: 5px;
      width: 90%;
      color: #f6f0ed;
      border-radius: 10px;
      margin: 7px auto;

      &--free {
        background: rgb(44, 136, 44);
        &:hover {
          background: rgb(34, 107, 34);
          cursor: pointer;
        }
      }
      &--reserved {
        background: rgb(141, 41, 41);
      }
    }
  }
  &__heading {
    text-align: center;
    color: #f6f0ed;

    font-size: 40px;
  }
}
