.reservation-times {
  &__container {
    max-width: 500px;
    margin: 0 auto;
    &__item {
      font-size: 30px;
      color: white;
      border-radius: 10px;
      padding: 5px;
      &--free {
        background: green;
        &:hover {
          background: rgb(0, 53, 0);
          cursor: pointer;
        }
      }
      &--reserved {
        background: red;
      }
      & + & {
        margin-top: 10px;
      }
    }
  }
}
